/*this is css for reg.html only*/

nav{
	padding: 10px;
	color: #FFF;
	background-color: #1abc9c;
	text-align: center;
}
.addPatientForm{
	width: 60%;
	display: block;
	margin: 0px  auto;
}
.searchdiv{
	margin-bottom: 20px;
}