body{
	width: 100%;
height: 100%;
overflow: hidden;
}
div{
	padding: 0px;
	margin:0px;
}
.one{
	height: auto;
	background-color: red;
	padding-left: 0em;
	padding-right: 0em;
}
.banner-top{
	display: block;
	width: 100%;
	padding: 55px;
	text-align: center;
	position: relative;
	 background: #ecf0f1;
	 border-bottom: 3px solid #2E8DEF;
}
/*.banner-top{
	 position: relative;
    width: 120px;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    
    color: #3498db;
    background: #ecf0f1;
   
}*/
.banner-top:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
   
    z-index: -1;
    
    background:#ecf0f1;
    
    
    /*transform-origin: bottom left;*/
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}
.banner-top h2{
	font-size: 4em;
	color: #3498db;
}

.loginform{
	display: block;
	margin: 234px auto;
	
	width: 60%;

}
.second{
	background-color: #1abc9c;
	height: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    color: #555;
    background-color: #fff;
    opacity: 0.8;
   border-radius: 0px;
}
.loginbtn{
	background-color: #16a085;
	border-radius: 0px;
	border: 0px;
	box-shadow: 2px 2px black;
	color: #fff;
}
.adminlogin-logo{
	padding: 15px;
}

span.glyphicon.glyphicon-user.pull-right {
    font-size: 3em;
    color: #fff;
}
.middle{
	background-image: url("../images/arow.png");
	background-repeat: no-repeat;
	height: 700px;
	margin-top: -17px;

}
